body {
    background-color: rgb(80, 162, 235);
    overflow: hidden;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
}

#message {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 50px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#home {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 101;
}

.homeButton {
    background-color: #6200ee;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.homeButton:hover {
    background-color: #4f00be;
}

#home a {
    text-decoration: none;
}